html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin-top: 0;
  margin-left: 30;
  margin-right: 30;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

h1 {
  font-size: 150%;
}
#table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  height: 510px;
  width: 1220px;
  padding: 5px;
  border: 0px;
  background-color: #c19b6c;

}
#P1-grid-container {
  display: grid;
  align-items: center;
  margin: auto;
  height: 500px;
  width: 600px;
  /*grid-template: repeat(10, auto)/repeat(10,auto);*/
  /*grid-template-rows: repeat(10,60px);*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #2196F3;
  padding: 0px;
  border: 1px solid;
}
#P2-grid-container {
  display: grid;
  align-items: center;
  margin: auto;
  height: 500px;
  width: 600px;
  /*grid-template: repeat(10, auto)/repeat(10,auto);*/
  /*grid-template-rows: repeat(10,60px);*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #2196F3;
  padding: 0px;
  border: 1px solid;
}

.grid-item {
  /*grid-column: 2/span 1;*/
  /*grid-row: 2/ span 1;*/
  cursor: pointer;
  align-items: center;
  float: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  width: 45px;
  height: 35px;
  margin: auto;
}
.shot {
  background-color: #ff0000;
}
.ship {
  background-color: #43464B;
}
.grid-item:hover {
  background-color: #ffffff;
}


